/*operaciones*/
$black: black;
$white: white;
$red: red;
$letra: "Bebas Neue", cursive;

/*MENU*/
.menu a {
  margin: auto;
  padding: 5px;
  color: $white;
  text-decoration: none;
  width: 5%;
  border-right: 1px solid;
  background-color: $red;
  border: 1px $red;
}

.menu {
  display: inline-flex;
  list-style: none;
  padding: 0px;
}

.posicion {
  position: absolute;
}

/*MAIN*/

main {
  color: $white;
  margin: 50px;
  padding: 30px;
}

.margen {
  margin: 10px;
  padding: 10px;
}

.texto-encima {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.centrado {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*DIRECCIONES*/
.centrar {
  text-align: center;
  float: center;
  margin: 5px;
  padding: 5px;
}

.izq {
  text-decoration: $red;
}

.der {
  position: absolute;
  top: 15px;
  right: 15px;
}

.derecha {
  text-align: right;
}

/*FLEX BOX*/

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.flex2 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.flexhijo {
  width: 200px;
  height: 200px;
  transition: height 2s;
}

.flexhijo:hover {
  width: 400px;
}

/*PROFESORES INDEX*/

.profepadre {
  display: grid;
  grid-template-rows: 150px 150px;
  grid-template-columns: 150px 150px 150px;
  justify-items: center;
  justify-content: center;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.btn-whatsapp {
  display: block;
  width: 80px;
  height: 80px;
  position: fixed;
  right: 80px;
  bottom: 5px;
  border-radius: 50%;
  line-height: 80px;
  text-align: center;
  z-index: 999;
}
